body {
    font-family: ui-sans-serif, -apple-system, system-ui, Segoe UI, Helvetica, Apple Color Emoji, Arial, sans-serif, Segoe UI Emoji, Segoe UI Symbol;
    font-size: 1rem;
    color: #222;
}

.dot {
    height: 15px;
    width: 15px;
    background-color: black;
    border-radius: 50%;
    display: inline-block;
    vertical-align: text-top;
}

.gpt-icon {
    display: inline-block;
    border-radius: 60px;
    box-shadow: 0 0 1px #999;
    padding: 0.4em 0.5em 0.35em 0.5em;
    float: left;
    margin-right: 1.5em;
}

.gpt-icon svg {
    width: 1.1em;
    height: 1.1em;
}

#navigation {
    position: fixed;
    z-index: 99999;
    top: 0;
    background-color: white;
    width: 100%;
    margin-top: 0.5em;
    margin-left: 0;
    font-size: 0.9rem;
    font-weight: 400;
    color: #777;
}

#prompt {
    position: fixed;
    z-index: 99999;
    bottom: -2em;
    background-color: white;
    width: 100vw;
    margin-left: auto;
    margin-right: auto;
}

#scroll-down {
    position: relative;
    width: 100vw;
    margin-left: auto;
    margin-right: auto;
    top: -14em;
    visibility: hidden;
    z-index: 10000;
}


#navigation button {
    font-weight: 100;
    padding-top: 0.5em;
    padding-right: 0.1em;
    padding-left: 0.7em;
    padding-bottom: 0.5em;
}

button#choose-model svg path {
    fill: grey;
}

#navigation button#choose-model {
    font-weight: 500;
    margin-bottom: 0.3em;
}

#content {
    padding-top: 0.5em;
    max-width: 850px;
    margin-left: auto;
    margin-right: auto;
    padding-bottom: 12em;
}

div#chat + div#empty-chat {
    display: none;
}

div#chat:empty + div#empty-chat {
    display: block;
}

#chat {
    /*border: 1px solid #f0f0f0;*/
    padding: 0.5em;
    width: 90%;
    margin-left: auto;
    margin-right: auto;
}

#chat > * {
    padding-top: 2em;
    padding-bottom: 1em;
}

.question {
    background-color: #f6f6f6;
    border-radius: 25px;
    padding-top: 1.2em;
    padding-right: 1.2em;
    padding-left: 1.2em;
    padding-bottom: 1.2em;
    max-width: 80%;
    width: fit-content;
    margin-top: 1em;
    margin-bottom: 1em;
    margin-right: 0;
    margin-left: auto;
}

.answer-text {
    font-size: 1rem;
    margin-left: 4em;
    line-height: 1.8em;
}

.answer-text > *:first-child {
    margin-top: 0;
    padding-top: 0;
}

#chat .answer-tools {
    visibility: hidden;
    padding-top: 1em;
    padding-bottom: 0;
    margin-top: 0;
    margin-bottom: 0;
    margin-left: 4em;
}

#chat .answer:hover .answer-tools,
#chat .answer:last-child .answer-tools
{
    visibility: visible;
}

#chat .answer:last-child .answer-text.in-progress + .answer-tools
{
    visibility: hidden;
}

#chat .answer-tools img {
    height: 1.5em;
}

#scroll-down img {
    width: 3em;
}

#footer {
    padding: 0.5em;
    font-size: 0.8em;
    color: #666;
    margin-left: auto;
    margin-right: auto;
    width: fit-content;
}

button {
    border: none;
    background: none;
}

#navigation button {
    color: #5d5d5d;
    font-weight: 600;
    font-size: 1.25em;
    vertical-align: middle;
}

#query-box {
    background-color: #f0f0f0;
    border-radius: 25px;
    width: 730px;
    margin-left: auto;
    margin-right: auto;
}

input#query {
    width: 95%;
    display: block;
    background: none;
    border: none;
    padding: 1em;
    margin-left: auto;
    margin-right: auto;
    font-size: 1em;
}

input#query:focus {
    outline: none;
}

#query-tools {
    margin-left: 0.5em;
}

#query-tools button {
    padding-top: 1em;
    padding-right: 0.5em;
    padding-left: 0.5em;
    padding-bottom: 1em;
}

button#send-query {
    float: right;
}

button#send-query img {
    width: 2.5em;
}

#empty-chat {
    padding: 1em;
    text-align: center;
    font-size: 1.5em;
    font-weight: 600;
}

.error {
    color: red;
    font-weight: bolder;
}

.thinking {
    display: none;
    margin-top: 0;
    margin-left: 4.5em;
    margin-right: 0;
    margin-bottom: 1em;
}

.blinking_live {
    height: 15px;
    width: 15px;
    border-radius: 15px;
    background: black;
    animation: blink-live 0.5s cubic-bezier(0, 0.3, 0.7, 1) infinite;
}

@keyframes blink-live{
    0% { opacity: 1.0; }
    50% { opacity: 0.0; }
    100% { opacity: 1.0; }
}
